@model IEnumerable<Car>

@{
    ViewData["Title"] = "Rent Cars";
}

<h2>Rent Cars</h2>


@if (Model.Count() == 0)
{
    <h4>No Cars Avaiable - <a asp-action="Create">Create New Car</a></h4>
}
else
{
    <p>
        <a asp-action="Create">Create New Car</a>
    </p>

    <table id="tblsort" class="cell-border">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdPlate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RentPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPlate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentPrice)
                </td>
                <td>
                    <img src="~/media/cars/@item.Image" width="50" alt="" />
                </td>
                <td>

                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="confirmDeletion" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    @section Scripts {
        <script>
        $(document).ready(function () {
            $('#tblsort').DataTable();
        });
        </script>
    }

}


