@model IEnumerable<Lease>

@{
    ViewData["Title"] = "Peronal Leases";
}

<h2>Peronal Leases</h2>


<table @*id="tblsort"*@ class="table table-sm display compact">
    <thead>
        <tr>
            <th>
                Car Plate
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarRentPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                Bo Groent @Html.DisplayFor(modelItem => item.CarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarRentPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            @if (item.Payment == "Pending")
            {
                <td>
                    <font color="red">@Html.DisplayFor(modelItem => item.Payment)</font>
                </td>
            }
            else
            {
                <td>
                    <font color="green">@Html.DisplayFor(modelItem => item.Payment)</font>
                </td>
            }
        </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tblsort').DataTable();
        });
    </script>
}