@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Roles";
}

<h2>Roles</h2>

<p>
    <a asp-action="Create">Create New Role</a>
</p>
<table id="tblsort" class="table table-sm cell-border">
    <thead>
        <tr>
            <th>Id</th>
            <th>Role</th>
            <th>Users</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td user-role="@role.Id"></td>
                <td>
                    <a asp-action="EditUserRole" asp-route-id="@role.Id">Edit User Roles</a> |
                    <a asp-action="EditRole" asp-route-id="@role.Id">Edit Role</a> |
                    <a class="confirmDeletion" asp-action="Delete" asp-route-id="@role.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tblsort').DataTable();
        });
    </script>
}
